USE [QuanLy_ToKhaiLienThong]
GO
/****** Object:  Table [dbo].[tb_DetailB]    Script Date: 5/5/2019 9:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DetailB](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[NYC_HoTen] [nvarchar](100) NULL,
	[NYC_NamSinh] [date] NULL,
	[NYC_SDT] [nvarchar](50) NULL,
	[NYC_Email] [nvarchar](100) NULL,
	[NYC_LoaiGT] [nvarchar](100) NULL,
	[NYC_SoGT] [bigint] NULL,
	[NYC_NgayCap] [date] NULL,
	[NYC_NoiCap] [nvarchar](100) NULL,
	[NYC_QuocGia] [nvarchar](100) NULL,
	[NYC_TinhTP] [nvarchar](100) NULL,
	[NYC_QuanHuyen] [nvarchar](100) NULL,
	[NYC_PhuongXa] [nvarchar](100) NULL,
	[NYC_SoNhaDuong] [nvarchar](500) NULL,
	[NYC_QuanHe] [nvarchar](50) NULL,
	[TTT_HoTen] [nvarchar](100) NULL,
	[TTT_QuanHe] [nvarchar](50) NULL,
	[TTT_GioiTinh] [nvarchar](50) NULL,
	[TTT_NgaySinh] [date] NULL,
	[TTT_QuocGia_NoiSinh] [nvarchar](100) NULL,
	[TTT_DanToc] [nvarchar](100) NULL,
	[TTT_TonGiao] [nvarchar](50) NULL,
	[TTT_SoDinhDanh] [nvarchar](50) NULL,
	[TTT_GiayToTuyThan] [nvarchar](500) NULL,
	[TTT_HoTenKhac] [nvarchar](100) NULL,
	[TTT_TenCSYT] [nvarchar](100) NULL,
	[TTT_ConThu] [nvarchar](50) NULL,
	[TTT_KieuSinh] [nvarchar](50) NULL,
	[TTT_CanNang] [bigint] NULL,
	[TTT_QuocGia] [nvarchar](50) NULL,
	[TTT_TinhTP] [nvarchar](100) NULL,
	[TTT_QuanHuyen] [nvarchar](100) NULL,
	[TTT_PhuongXa] [nvarchar](100) NULL,
	[TTT_SoNhaDuong] [nchar](500) NULL,
	[TTT_QuocGia_QQ] [nvarchar](100) NULL,
	[TTT_TinhTP_QQ] [nvarchar](100) NULL,
	[TTT_QuanHuyen_QQ] [nvarchar](100) NULL,
	[TTT_PhuongXa_QQ] [nvarchar](100) NULL,
	[TTT_SoNhaDuong_QQ] [nvarchar](100) NULL,
	[TTT_KCB] [nvarchar](500) NULL,
	[CH_SBS] [int] NULL,
	[TTM_HoTen] [nvarchar](100) NULL,
	[TTM_NamSinh] [date] NULL,
	[TTM_LoaiGT] [nvarchar](100) NULL,
	[TTM_SoGT] [nvarchar](50) NULL,
	[TTM_NgayCap] [date] NULL,
	[TTM_NoiCap] [nvarchar](500) NULL,
	[TTM_QuocTich] [nvarchar](100) NULL,
	[TTM_DanToc] [nvarchar](50) NULL,
	[TTM_NoiDKKS] [nvarchar](100) NULL,
	[TTM_BHXH] [nvarchar](50) NULL,
	[TTM_QuocGia] [nvarchar](50) NULL,
	[TTM_TinhTP] [nvarchar](100) NULL,
	[TTM_QuanHuyen] [nvarchar](100) NULL,
	[TTM_PhuongXa] [nvarchar](100) NULL,
	[TTM_SoNhaDuong] [nvarchar](100) NULL,
	[TTC_HoTen] [nvarchar](100) NULL,
	[TTC_NamSinh] [date] NULL,
	[TTC_LoaiGT] [nvarchar](100) NULL,
	[TTC_SoGT] [nvarchar](50) NULL,
	[TTC_NgayCap] [date] NULL,
	[TTC_NoiCap] [nvarchar](100) NULL,
	[TTC_QuocTich] [nvarchar](50) NULL,
	[TTC_DanToc] [nvarchar](50) NULL,
	[TTC_NoiDKKS] [nvarchar](100) NULL,
	[TTC_BHXH] [nvarchar](50) NULL,
	[TTC_QuocGia] [nvarchar](50) NULL,
	[TTC_TinhTP] [nvarchar](100) NULL,
	[TTC_QuanHuyen] [nvarchar](100) NULL,
	[TTC_PhuongXa] [nvarchar](100) NULL,
	[TTC_SoNhaDuong] [nvarchar](500) NULL,
	[CH_HoTen] [nvarchar](100) NULL,
	[CH_NamSinh] [date] NULL,
	[CH_GioiTinh] [nvarchar](50) NULL,
	[CH_BHXH] [nvarchar](50) NULL,
	[CH_SDT] [nvarchar](50) NULL,
	[CH_LoaiGT] [nvarchar](50) NULL,
	[CH_SoGT] [nvarchar](50) NULL,
	[CH_SHK] [nvarchar](50) NULL,
	[CH_HoSoSHK] [nvarchar](50) NULL,
	[CH_QuanHe] [nvarchar](50) NULL,
	[CH_NoiDKKS] [nvarchar](100) NULL,
	[CH_QuocGia] [nvarchar](50) NULL,
	[CH_TinhTP] [nvarchar](100) NULL,
	[CH_QuanHuyen] [nvarchar](100) NULL,
	[CH_PhuongXa] [nvarchar](100) NULL,
	[CH_SoNhaDuong] [nvarchar](500) NULL,
	[NgayDangKy] [date] NULL,
 CONSTRAINT [PK_tb_DetailB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_DetailB] ON 

SET IDENTITY_INSERT [dbo].[tb_DetailB] OFF
